<!DOCTYPE html>
<html lang="en">
<head>
    <title>Not Found</title>
    <link rel="icon" href="data:;base64,=">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rosario:400,700' rel='stylesheet' type='text/css'>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/hover_pack.js"></script>
    <style>
        .info {
            text-align: center;
        }

        .info h1 {
            font-weight: 600;
            font-size: 2.5em;
        }

        .info p {
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <span class="info">
        <h1>Page Not Found!</h1><br>
        <p><a href="/index">Return to main page</a></p>
    </span>
</body>
</html>